bwa.*
trim.*
finished.indexing.ref
*.fq
*.fq.gz
*.fastq*
*.fa
*.fna
*.fas
*.fasta
*.fasta.gz*
*.finished
*.amb
*.ann
*.bwt
*.fai
*.pac
*.sa
*.rf
*.ht2
*.bam
*.sam
*.bam.bai
multiqc_data*
*vcf*
*.gff*
*.gtf
*.test
*.dict
*.md5
20_log_files/*
*.swp
*.xprs
*.Rhistory
04_mapped/tmp*
05_gx_levels/*
*.refmap
*.tmap
*.loci
*.stats
*.tracking
*.txt
*.csv
*.html
*.zip
*.ss
*.exon

