*.fa
*.fas
Trinity.fasta
*.finished
*.fq
*.fq.gz
*.fasta.amb
*.fasta.ann
*.fasta.bwt
*.fasta.fai
*.fasta.pac
*.fasta.sa
*.fastq.gz
*.fastq.gz.bam
*.fastq.gz.bam.bai
*.fastq.gz.unsorted.bam
*.fastq.gz.sam
*.bam
*.bam.bai
z-*
*fastq*
*fasta*
*vcf*
*.gff3
