bwa.*
trim.*
finished.indexing.ref
*~
*.fa
*.fas
Trinity.fasta
*.finished
*.fq
*.fq.gz
*.fasta
*.amb
*.ann
*.bwt
*.fai
*.pac
*.sa
*.fasta.gz
*.fastq.gz
*.fastq.gz.bam
*.fastq.gz.bam.bai
*.fastq.gz.unsorted.bam
*.fastq.gz.sam
*.bam
*.sam
*.bam.bai
z-*
*.fastq
multiqc_data*
*vcf*
*.gff3
*.test
*.dict
slurm-*
clusters.txt
counts.txt
*.md5
10_log_files/*
*.swp
*.xprs
*.csv
*.Rhistory
*.gtf
04_mapped/tmp*
05_gx_levels/*
*.refmap
*.tmap
*.loci
*.stats
*.tracking
*.txt
*.html
*.zip
